.statistics {
    margin: 0 auto;
    width: 500px;
}


.title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    background-color: rgb(229, 243, 242);
    padding: 50px 0;
    vertical-align: middle;
}

.statList {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: rgb(194, 229, 228);

}

.li {
    width: 125px;
    padding: 20px 0;
    text-align: center;
    border: 1px solid  rgb(188, 218, 215);
}

.label {
    display: block;
    font-size: 20px;
    padding-bottom: 5px;
}

.percentage {
    display: block;
    font-size: 30px;
}