.transactionHistory {
    width: 500px;

}

.transactionHistory thead {
    background-color: rgb(0, 188, 212);
    text-transform: uppercase;
    box-shadow: 1px 2px 4px -1px rgba(167, 164, 164, 0.92);

}

tbody {
    text-align: center;
}

tr {
    height: 50px;
 
}

tbody:nth-child(2n) {
        background-color: rgba(242, 242, 242, 0.842);
      }
td {
    box-shadow: 2px 4px 6px -1px rgba(167, 164, 164, 0.92);
}